<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<b> Murat ILDIZ </b>
<br>Not Working,   Data Scientest</br>

<i> I am interested in Data Science because I like to deal with numbers and get meaningful results from them.</i>

<h3>In following cell you are going to see sum of 1 and 2</h3>

In [5]:
1+2

3

<table>
  <tr>
    <th>Python</th>
    <th>R Language</th>
  </tr>
  <tr>
    <td>The Best</td>
    <td>The Best</td>
  </tr>
</table>
<ul>
  <li>Python</li>
  <li>R Language</li>
  <li>IBM SPSS</li>
</ul>

<ol>
  <li>Python</li>
  <li>R Language</li>
  <li>IBM SPSS</li>
</ol>